<section class="m-5">
  <div class="border rounded p-3">
    <h2>Filters</h2>
    <form class="row">
      <div class="col-md-2 col-sm-4">
        <label for="region" class="form-label">Region</label>
        <select name="region" id="region" class="form-select">
          <option value="all">All</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-4">
        <label for="species" class="form-label">Species</label>
        <select name="species" id="species" class="form-select">
          <option value="all">All</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-4">
        <label for="conservationStatus" class="form-label">Conservation Status</label>
        <select name="conservationStatus" id="conservationStatus" class="form-select">
          <option value="all">All</option>
        </select>
      </div>
      <div class="col-md-2 col-sm-4">
        <label for="waterTemperature" class="form-label">Water Temperature</label>
        <input type="text" class="form-control" id="waterTemperature">
      </div>
      <div class="col-md-2 col-sm-4">
        <label for="ph" class="form-label">pH</label>
        <input type="text" class="form-control" id="ph">
      </div>
      <div class="col-md-2 col-sm-4">
        <label for="pollutionLevels" class="form-label">Pollution Levels</label>
        <input type="text" class="form-control" id="pollutionLevels">
      </div>
      <div>
        <button type="button" class="btn btn-primary mt-3">Search</button>
      </div>
    </form>
  </div>
</section>

<section class="mx-5">
  <div class="border rounded p-3">
    <h2>Data Table</h2>
    <table class="border table table-striped">
      <thead>
        <tr class="text-center">
          <th>Region</th>
          <th>Species</th>
          <th>Conservation Status</th>
          <th>Pollution Levels</th>
          <th>Water Temperature</th>
          <th>pH</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ocean of oceanData" class="text-center align-middle">
          <td>{{ocean.regiao}}</td>
          <td>
            <ul *ngFor="let especie of ocean.especies" class="d-flex justify-content-center">
              <li class="list-group-item">
                {{especie.nome}}, {{especie.status}}
              </li>
            </ul>
          </td>
          <td>
            <ul *ngFor="let projeto of ocean.projetosConservacao" class="d-flex">
              <li class="list-group-item">
                {{projeto.nomeProjeto}} - {{projeto.tipoProjeto}} - {{projeto.tipoParticipacao}}
              </li>
            </ul>
          </td>
          <td>{{ocean.temperaturaAgua}}</td>
          <td>{{ocean.pH}}</td>
          <td>{{ocean.nivelPoluicao}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>